<%- include('partials/_header') %>

<main class= "container mt-5 text-center"></main>
    <header>
        <h1 class = "display-4">Welcome to Assignment Tracker!!!</h1>
    </header>

    <section class="my-4 d-flex justify-content-center">
    </section>
    <main>
        <p>Track your assignments here!</p>
    </main>

<%- include('partials/_footer') %>
